@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        background-color: #010001;
        font-family: "Poppins", Helvetica, sans-serif;
        color: white;
    }

      ::-webkit-scrollbar {
        width: 5px;
      }

      ::-webkit-scrollbar-track {
        background: #0a090a;
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #8685ff;
        border-radius: 6px;
      }
}

@keyframes ping-slow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 100;
  }
}

.animate-ping-slow {
  animation: ping-slow 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}